[Desktop Entry]
Type=Application
Name=angou
GenericName=Encrypted file store
Comment=Browse and decrypt an angou store
Exec=angou-gui %f
Icon=angou
Terminal=false
Categories=Utility;Security;
MimeType=application/x-angou-blob;
StartupNotify=true
